@model VDMS.Models.Branch

@{
    ViewBag.Title = "Details";
}

<h2>Branch Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disabled)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BranchID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
