@model VDMS.Models.Document

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Document</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Branch.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Branch.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocSerial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocSerial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inbound)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inbound)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recipient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recipient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

    </dl>
</div>
<p>
    @if ((ViewContext.HttpContext.User.IsInRole("Admin")) || (ViewContext.HttpContext.User.IsInRole("MBB Developer")))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.DocID }) 
    }
     |
    @Html.ActionLink("Back to List", "Index")
</p>
