@model IEnumerable<VDMS.Models.Document>
@{
    ViewBag.Title = "Reports";

    VDMS.Models.Document document = new VDMS.Models.Document();
    var grid = new WebGrid(source: Model, canPage: true, rowsPerPage: 20, canSort: false);
}

<h2>Reports</h2>

<head>
    <!-- Code to wire up the DatePicker -->
    <script type="text/javascript">
        $(function () {
            // This will make every element with the class "date-picker" into a DatePicker element
            $('.date-picker').datepicker();
        })
    </script>

    <script>
        (function ($) {
            $.widget("custom.combobox", {
                _create: function () {
                    this.wrapper = $("<span>")
                      .addClass("custom-combobox")
                      .insertAfter(this.element);

                    this.element.hide();
                    this._createAutocomplete();
                    this._createShowAllButton();
                },

                _createAutocomplete: function () {
                    var selected = this.element.children(":selected"),
                      value = selected.val() ? selected.text() : "";

                    this.input = $("<input>")
                      .appendTo(this.wrapper)
                      .val(value)
                      .attr("title", "")
                      .addClass("custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left")
                      .autocomplete({
                          delay: 0,
                          minLength: 0,
                          source: $.proxy(this, "_source")
                      })
                      .tooltip({
                          tooltipClass: "ui-state-highlight"
                      });

                    this._on(this.input, {
                        autocompleteselect: function (event, ui) {
                            ui.item.option.selected = true;
                            this._trigger("select", event, {
                                item: ui.item.option
                            });
                        },

                        autocompletechange: "_removeIfInvalid"
                    });
                },

                _createShowAllButton: function () {
                    var input = this.input,
                      wasOpen = false;

                    $("<a>")
                      .attr("tabIndex", -1)
                      .tooltip()

                      .appendTo(this.wrapper)
                      .button({
                          icons: {
                              primary: "ui-icon-triangle-1-s"
                          },
                          text: false
                      })
                      .removeClass("ui-corner-all")
                      .addClass("custom-combobox-toggle ui-corner-right")
                      .mousedown(function () {
                          wasOpen = input.autocomplete("widget").is(":visible");
                      })
                      .click(function () {
                          input.focus();

                          // Close if already visible
                          if (wasOpen) {
                              return;
                          }

                          // Pass empty string as value to search for, displaying all results
                          input.autocomplete("search", "");
                      });
                },

                _source: function (request, response) {
                    var matcher = new RegExp($.ui.autocomplete.escapeRegex(request.term), "i");
                    response(this.element.children("option").map(function () {
                        var text = $(this).text();
                        if (this.value && (!request.term || matcher.test(text)))
                            return {
                                label: text,
                                value: text,
                                option: this
                            };
                    }));
                },

                _removeIfInvalid: function (event, ui) {

                    // Selected an item, nothing to do
                    if (ui.item) {
                        return;
                    }

                    // Search for a match (case-insensitive)
                    var value = this.input.val(),
                      valueLowerCase = value.toLowerCase(),
                      valid = false;
                    this.element.children("option").each(function () {
                        if ($(this).text().toLowerCase() === valueLowerCase) {
                            this.selected = valid = true;
                            return false;
                        }
                    });

                    // Found a match, nothing to do
                    if (valid) {
                        return;
                    }

                    // Remove invalid value
                    this.input
                      .val("")
                    this.element.val("");
                    this._delay(function () {
                        this.input.tooltip("close").attr("title", "");
                    }, 2500);
                    this.input.data("ui-autocomplete").term = "";
                },

                _destroy: function () {
                    this.wrapper.remove();
                    this.element.show();
                }
            });
        })(jQuery);

        $(function () {
            $("#combobox").combobox();
            $("#toggle").click(function () {
                $("#combobox").toggle();
            });
        });
    </script>

</head>

<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken();

        <div class="form-horizontal">
            <hr />

            <div class="form-group">
                <div class="form-group col-md-5">
                    @Html.Label("From", labelText: "From", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBox("StartDate", "", new { @class = "form-control date-picker", @autocomplete = "off" })
                    </div>
                </div>

                <div class="form-group col-md-5">
                    @Html.Label("To", labelText: "To", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBox("EndDate", "", new { @class = "form-control date-picker", @autocomplete = "off" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-group col-md-5">
                    @Html.LabelFor(model => document.DocTypeID, "Doc Type", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("DocTypeID", null, "Select Document", htmlAttributes: new { @class = "form-control" })
                        @Html.HiddenFor(model => document.DocTypeID)
                    </div>
                </div>
                <div class="form-group col-md-5">
                    @Html.LabelFor(model => document.BranchID, "BranchID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("BranchID", null, "Select Branch", htmlAttributes: new { @class = "form-control" })
                        @Html.HiddenFor(model => document.BranchID)
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-group col-md-5">
                    @Html.Label("Created by", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("UserID", null, "Select Creator", htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group col-md-5">
                    @Html.LabelFor(model => document.Recipient, "Recipient", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("Recipient", null, "Select Recipient", htmlAttributes: new { @class = "form-control", id = "combobox" })
                        @Html.HiddenFor(model => document.Recipient)
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-group col-md-5">
                    @Html.Label("Origin", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.RadioButton("Inbound", "Inbound") Inbound
                        @Html.RadioButton("Inbound", "Outbound") Outbound
                        @Html.RadioButton("Inbound", "All") All

                        @Html.HiddenFor(model => document.Inbound)
                    </div>
                </div>

                <div class="form-group col-md-5">
                    <input type="submit" name="submit" value="Preview" class="btn btn-default" />
                    &nbsp;  &nbsp;
                    <input type="submit" name="submit" value="Export" class="btn btn-default" />
                </div>
            </div>

            <br /><br />
            <div id="gridContent">
                @grid.GetHtml(tableStyle: "vdf-doc table-responsive",
                 headerStyle: "header",
                 selectedRowStyle: "select",
                 columns: grid.Columns(
                         grid.Column("DocSerial", "DocSerial"),
                         grid.Column("Branch.Name", "Branch Name"),
                         grid.Column("DocumentType.Name", "Type"),
                         grid.Column("UserName", "Created by"),
                         grid.Column("Inbound", "Inbound"),
                         grid.Column("Recipient", "Recipient"),
                         grid.Column("Description", "Description"),
                         grid.Column("CreationDate", "Creation Date")))
            </div>

        </div>
    }
</body>
