@model IEnumerable<VDMS.Models.ApplicationUser>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<p>
    @Html.ActionLink("Add new user", "Create",  null, new { @class="btn btn-default" })
</p>

<body>
    @{
        var grid = new WebGrid(Model, canPage: true, rowsPerPage: 20, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent", defaultSort: "Email");
        grid.Pager(WebGridPagerModes.NextPrevious);

        var gridColumns = new List<WebGridColumn>();
        gridColumns.Add(grid.Column("Email", @Functions.Sorter("Email", "Email", grid)));

        gridColumns.Add(grid.Column("EmailConfirmed","Email Confirmed",format: @<text><input class="check-box" id="confirmedChkBx" name="confirmedChkBx" type="checkbox" value="@item.EmailConfirmed" disabled @(item.EmailConfirmed == false ? null : "checked") /></text>)); 

        gridColumns.Add(grid.Column("Disabled", "Disabled",
    format:@<text><input class="check-box" id="disabledChkBx" name="disabledChkBx" type="checkbox" value="@item.Disabled" disabled
                         @(item.Disabled == false ? null : "checked") /></text>
        ));
        gridColumns.Add(grid.Column(format: (item) => Html.ActionLink("Details", "Details", new
        {
            id = item.Id
        })));
        if (User.Identity.IsAuthenticated && (User.IsInRole("HelpDesk") || (User.IsInRole("MBB Developer"))))
        {
            gridColumns.Add(grid.Column(format: (item) => Html.ActionLink("Edit", "Edit", new { id = item.Id })));
            gridColumns.Add(grid.Column(format: (item) => Html.ActionLink((@item.Disabled ? "Enable" : "Disable"), "Delete", new { id = item.Id })));
        }
    }

    <div id="gridContent">
        @grid.GetHtml(tableStyle: "vdf-doc table-responsive",
                headerStyle: "header",
                selectedRowStyle: "select",
                columns: grid.Columns(gridColumns.ToArray()))
    </div>
</body>
