<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - VOID</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container vdf-header-container">
        <img src="~/logo.png" class="img-responsive vdf-logo" />
        <span class="vdf-brand-text">Vodafone Outbound Inbound Docs</span>
    </div>
    </div>
    <div class="navbar navbar-inverse ">
        <div class="container vdf-menu-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li id="vdf-home">@Html.ActionLink(" ", "Index", "Documents")</li>
                    @if ((Request.IsAuthenticated) && (User.IsInRole("HelpDesk") || (User.IsInRole("MBB Developer")))){
                    <li>@Html.ActionLink("User Management","Index","UsersAdmin")</li>
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("MBB Developer")){
                    <li>@Html.ActionLink("Roles Management","Index","RolesAdmin")</li>
                    }
                    @if ((Request.IsAuthenticated) && (User.IsInRole("HelpDesk") || (User.IsInRole("MBB Developer")))){
                    <li>@Html.ActionLink("Branches","Index","Branches")</li>
                    <li>@Html.ActionLink("Document Types","Index","DocumentTypes")</li>
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year -Vodafone All rights reserved </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
