<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - VOID</title>


    <link href="~/Content/bootstrap.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/Site.css" type="text/css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")

    <!-- jQuery UI CSS Reference -->
    @*
    <link href="@Url.Content("~/Content/themes/base/minified/jquery-ui.min.css")" rel="stylesheet" />*@
    <link href="@Url.Content("~/Content/themes/base/all.css")" rel="stylesheet" />
    <!-- Required jQuery and jQuery UI Javascript references -->
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.11.4.min.js")"></script>



</head>
<body>
    <div class="container vdf-header-container">
        <img src="~/logo.png" class="img-responsive vdf-logo" />
        <a href="@Url.Action("Index", "Home" )"><span class="vdf-brand-text">Vodafone Outbound Inbound Docs</span></a>
    </div>

    <div class="navbar navbar-inverse ">
        <div class="container vdf-menu-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li id="vdf-home">@Html.ActionLink(" ", "Index", "Home")</li>
                    @if ((Request.IsAuthenticated) && (!(User.IsInRole("HelpDesk"))))
                    {
                    <li>@Html.ActionLink("Documents", "Index", "Documents")</li>
                    }
                    @if ((Request.IsAuthenticated) && (User.IsInRole("HelpDesk") || (User.IsInRole("MBB Developer"))))
                    {
                    <li>@Html.ActionLink("User Management", "Index", "UsersAdmin")</li>
                    }
                    @if ((Request.IsAuthenticated) && (User.IsInRole("HelpDesk") || (User.IsInRole("MBB Developer"))))
                    {
                    <li>@Html.ActionLink("Roles Management", "Index", "RolesAdmin")</li>
                    }
                    @if ((Request.IsAuthenticated) && (User.IsInRole("Admin") || (User.IsInRole("MBB Developer"))))
                    {
                    <li>@Html.ActionLink("Branches", "Index", "Branches")</li>
                    <li>@Html.ActionLink("Document Types", "Index", "DocumentTypes")</li>
                    }
                    @if (User.IsInRole("MBB Developer"))
                    {
                    <li>@Html.ActionLink("Docs Log", "Index","DocumentLogs")</li>
                    <li>@Html.ActionLink("Users Log", "Index","UserLogs")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year -Vodafone All rights reserved - Version @ViewContext.Controller.GetType().Assembly.GetName().Version </p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>